<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<link rel="stylesheet" type="text/css" href="/css/normal.css">
	</head>
	<body>
		<div id="flash">
			<h2><%= flash[:notice] if flash[:notice] %></h2>
			<h2><%= flash[:alert] if flash[:alert] %></h2>
		</div>
		<br>
		<div class="navbar">


			<% if session[:user_id] %>
				<a href="/profile/<%= current_user.id %>">Profile</a>
				<!-- <a href="/posts">Posts</a> -->
			<% end %>
			
			<a href="/">Home</a>

			<% if session[:user_id] %>
			  <a href="/logout">Log Out</a>
			<% end %>

			<% if !session[:user_id] %>
				<a href="/signin">Log In</a>
			<% end %>

			<% if !session[:user_id] %>
				<a href="/users/new">Sign Up</a>
			<% end %>
<!-- 		
			<% if session[:user_id] %>
				<h2>Welcome, <%=@user.fname %>! </h2>
			<% end %> -->
		</div>
		<br><br><br>
		<%= yield %>

	</body>
</html>